.github-icon {
  color: black;
}

.footer-small-text {
  font-size: 0.40em; /* adjust this to make the text the size you want */
}

// .github-icon {
//   margin-right: 8px; /* or any other value you see fit */
// }

.github-icon {
  margin-bottom: -40px; /* Adjust this negative value until it meets your needs */
}
